<a class="active item" data-tab="home">Home</a>
<a class="item" data-tab="user">User</a>

<div class="right menu">
	<div class="item">
		<div class="ui icon input">
			<input type="text" data-role="searchInput" placeholder="Search by User ID">
			<i class="search link icon" data-role="searchBtn"></i>
		</div>
	</div>
	<div class="item"><a href="/logout" class="ui icon basic button"><i class="sign out icon"></i> Logout</a></div>
</div>
